version: "3.9"

services:
  web:
    build: .
    container_name: allbee_web
    command: ./bin/rails server -b 0.0.0.0 -p 3000
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - .:/rails
      - rails_storage:/rails/storage
    restart: unless-stopped

  db:
    image: postgres:16
    container_name: allbee_db
    environment:
    
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5430:5432"
    restart: unless-stopped

volumes:
  postgres_data:
  rails_storage:
