<p style="color: green"><%= notice %></p>

<% content_for :title, "Produtos" %>

<h1>Produtos AllBee</h1>

<div id="produtos">
  <% @produtos.each do |produto| %>
    <%= render produto %>
    <%# ... Seu código da lista (iteração) deve estar aqui ... %>
  <p class="mb-2">
    <%# O link de visualização dentro da iteração %>
    <%= link_to "Mostrar produto", produto, class: "btn btn-sm btn-outline-info" %>
  </p>
<% end %>
</div>

<%# O link "New produto" fora da iteração %>
<div class="mt-4">
  <%= link_to "cadastrar produto", new_produto_path, class: "btn btn-success btn-lg" %>
</div>